# MongoDB connection string
# Local: mongodb://localhost:27017/peerconnect
# Atlas:  mongodb+srv://<user>:<password>@cluster0.xxxxx.mongodb.net/peerconnect
MONGO_URI=mongodb+srv://satyayashodayadaveni_db_user:l7SaWHF7tc3SNZJg@peerconnect.l0ui55b.mongodb.net/?appName=PeerConnect

# Any long random string - used to sign JWT tokens
JWT_SECRET=my_super_secret_key_12345

# Port the backend server runs on
PORT=5000

# Frontend URL (for CORS)
CLIENT_URL=http://localhost:5173
